.site-how-login
	.instruction
		display: block
		width: 100%
		min-height: 200px
		//background: green
		padding: 5px
		//border: darkblue solid 2px
		font-size: large
		font-weight: bold

		li
			font-style: italic
			margin-bottom: 10px

		.col-left-text,
		.col-right-text
			display: block
			width: 65%
			min-height: 150px
			//background: yellow
			//border: darkblue solid 2px

		.col-left-img,
		.col-right-img
			display: block
			width: 35%
			min-height: 150px
			//background: yellow
			//border: darkblue solid 2px
